@model ProjectTest.Models.tblEmployee1

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>


<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create a New Record</a>



<table class="table table-dark grid" id="CustomeGrid">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>

        </tr>
    </thead>


    <tbody>
        @if (ViewBag.EmpList != null)
        {
            foreach (var obj in ViewBag.EmpList)
            {


                <tr>
                    <td>@obj.EmployeeID</td>
                    <td>@obj.Name</td>
                    <td>@obj.Gender</td>
                    <td>@obj.city</td>
                    <td>
                        <a href="#" onclick="ConfirmDelete(@obj.EmployeeID)" class="btn-danger">Delete</a>
                        <a href="@Url.Action("AddStudent", new { @obj.EmployeeID })" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit</a>

                        @*<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit Record</a>*@
                        @*<a href="@Url.Action("Details", new { @obj.EmployeeID })" class="details">View</a>*@
                        @*<a href="#" class="btn btn-danger" onclick="AddNewStudent(@obj.EmployeeID)">View</a>*@
                        <a href="#" onclick="ShowEmployee(@obj.EmployeeID)" class="btn-danger">View</a>
                    </td>

                </tr>

            }
        }
    </tbody>
</table>


<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="myForm">


                    @*@Html.HiddenFor(x => x.EmployeeID)*@
                    <div class="form-group">
                        <label for="Name">Name</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Gender</label>
                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                   { new SelectListItem{Text="Male", Value="M"},
                                     new SelectListItem{Text="Female", Value="F"}}, "Please select")
                    </div>
                    <div class="form-group">
                        <label for="Name">City</label>
                        @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-success" id="btnSubmit">Save changes</button>*@
                <input type="reset" class="btn btn-success" value="Submit" id="btnSubmit" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>





<div class="modal fade" tabindex="-1" role="dialog" id="myModal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="myForm">
                    <h2>Are you Sure You Want to Delete</h2>


                </form>
            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-success" id="btnSubmit">Save changes</button>*@
                <a href="#" class="btn btn-primary" onclick="DeleteEmployee()">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="myModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBodyDiv">
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btnSubmits">Update</button>
                @*<a href="#" class="btn btn-primary" onclick="UpdateEmployee()">Update</a>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>








<input type="hidden" id="empHiddenId" />
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var myFormData = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Test/Index",
                data: myFormData,
                success: function () {
                    $("#myModal").modal("hide");
                }

            })

        })

    })

    var ConfirmDelete = function (EmployeeID) {

        $("#empHiddenId").val(EmployeeID);
        var ab = $("#empHiddenId").val();
        console.log(ab);
        $("#myModal1").modal("show");
    }

    var DeleteEmployee = function () {
        $(document).ready(function () {

            var empId = $("#empHiddenId").val();

            $.ajax({
                type: "POST",
                url: "/Test/Delete",
                data: { EmployeeID: empId },
                success: function () {
                    $("#myModal1").modal("hide");
                }

            })



        })
    }

    var ShowEmployee = function (EmployeeID) {

        var url = "/Test/Details?EmployeeID="+EmployeeID;
        $("#myModalBodyDiv").load(url, function () {
            $("#myModal2").modal("show");
        })
    }

    $(document).ready(function () {
        $("#btnSubmits").click(function () {
            var myFormData = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Test/Index",
                data: myFormData,
                success: function () {
                    $("#myModal2").modal("hide");
                }

            })

        })

    })



</script>